@charset "utf-8";

h1{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size:72px;
	font-weight: 700;
	color:white;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin-bottom:20px;
	margin-top:150px;
	position: relative;
	z-index: 33;
}

span{
	display: inline-block;
	padding:0.1em 0.3em;
	border: white solid 10px;
}

body{
	min-width: 1024px;
	background-color: #fafafa;
	background-image: url("../img/brilliant.png");
	background-position: center center;
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
}

header{
	width:100%;
	min-height:850px;
	background-image: url("../img/header.jpg");
	background-color: #131313;
	background-size:cover;
	background-position: center center;
}

.kicker{
font-family: 'Open Sans', sans-serif;
text-align:center;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.05em;
color:white;
line-height:1;
position: relative;
z-index: 33;
}

#slider {
    opacity:1;
    transition: opacity 0.5s;
		position: absolute;
		top:0;
		z-index: 3;
		height: 850px;
}

#slider.fadeOut {
    opacity:0;
		position: absolute;
		top:0;
		z-index: 3;
		height: 850px;
}

nav{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size:16px;
	width:100%;
	list-style:none;
	text-align:center;
	text-transform: uppercase;
  position: relative;
	z-index: 33;
}

nav ul{
	text-align: right;
	width:100%;
	margin:0;
	padding:0;
	-webkit-transition: max-height 0.5s;
	-ms-transition: max-height 0.5s;
	-o-transition: max-height 0.5s;
	-moz-transition: max-height 0.5s;
	transition: max-height 0.5s;
}

nav li{
	display:inline-block;
	padding:25px 25px 0 0;
}

nav li a{
	text-decoration:none;
	 color:#666;
}

nav li a:hover{
	color:white;
}


h3{
  text-align: center;
  letter-spacing: 0.4em;
  color:black;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size:20px;
  margin-top:50px;
  margin-bottom: 5px;
}


 h6{
	text-align: center;
	color:#999;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 0;
	font-weight: 300;
	font-size:12px;
	margin-top:0px;
}

.button img{
	position: relative;
	top:7px;
}

.button1 img{
	position: relative;
	top:7px;
}

hr{
    width: 110px;
    height: 1px;
    border: 0;
    background: #999;
    margin: 15px auto 25px auto;
}

.split{
	width: 100%;
    max-width: 540px;
    height: 1px;
    background: #ddd;
    margin-top: 0;
    margin-left:auto;
    margin-right: auto;
}

 .drop-cap:first-letter {
    float: left;
    margin: 0;
    padding: 0.1rem 6px 0 0;
    font-size: 6.4rem;
    font-family: 'Roboto', sans-serif;
    line-height: 6rem;
    text-indent: 0;
    background: transparent;
    color: #151515;
}

.about_container{
	width:100%;
	height:1000px;
	max-width: 1024px;
	margin-left:auto;
	margin-right:auto;
}

.about_top{
	width:100%;
	max-width: 1024px;
	height:175px;
}

.about_left{
	width:50%;
	max-width: 512px;
	float:left;
	margin-top:-20px;
}

.about_right{
	width:50%;
	max-width: 512px;
	float:left;
	margin-top:-20px;
}

.drop-cap{
font-family: 'Roboto', sans-serif;
font-size:17px;
font-weight: 300;
line-height: 1.8rem;
color:#333;
padding-right:19px;
margin-top:-12px;
}

.drop-cap1{
font-family: 'Roboto', sans-serif;
font-size:17px;
font-weight: 300;
line-height: 1.8rem;
color:#333;
padding-right:19px;
}

.button{
	display:inline-block;
	font-size:1.4rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	height:3.5rem;
	line-height: 3.5rem;
	padding: 0 8.3rem;
	background: #d8d8d8;
	color:#313131;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	border:none;

	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
}

.button1{
	display:inline-block;
	font-size:1.4rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	height:3.5rem;
	line-height: 3.5rem;
	padding: 0 7.4rem;
	background: #d8d8d8;
	color:#313131;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	border:none;

	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
}

.about_left h3{
	font-size:18px;
	line-height: 1.5;
	margin-bottom:1.8rem;
	font-family: 'Roboto', sans-serif;
	color:#151515;
	font-style:normal;
}

.about_right h3{
	font-size:18px;
	line-height: 1.5;
	margin-bottom:1.8rem;
	font-family: 'Roboto', sans-serif;
	color:#151515;
	font-style:normal;
}

.about_x h2{
	text-align: center;
	font-size:36px;
	margin-top:100px;
	letter-spacing:-0.1rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-rendering: optimizeLegibility;
	color:#151515;
}

.about_top p{
	-webkit-front-smoothing:antialiased;
	text-align: center;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	line-height: 1.8;
	color:#4d4d4d;
	margin-top:-10px;
}

h4{
	font-weight: 700:;
	color:#666;
	max-width: 425px;
	padding:0 15px;
	margin:50px auto 17px;
	font-size: 18px;
	text-align:center;
	padding: 0;
}

.specs{
	width:100%;
	max-width: 1024px;
	height:600px;
	margin-left: auto;
	margin-right:auto;
}

.iphone_info p{
text-align: left;
font-size: 18px;
font-family: 'Roboto', sans-serif;
font-weight: 300;
line-height: 1.8;
color: #4d4d4d;
margin-top: -10px;
padding-right:50px;
}

.iphone_info h3{
  text-align: left;
  letter-spacing: 0.3em;
  color:black;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size:20px;
  margin-top:50px;
  margin-bottom: 35px;
}

.box_iphone{
	width:42%;
	margin-left: -140px;
	float:left;
}

.devices img{
	width:120px;
	cursor: pointer;
}

.dev_box{
	margin-left:-30px;
}

.box_iphone img{
	width:600px;
}

.iphone_info{
	width: 58%;
	float:left;
	margin-left:70px;
}

 #instafeed{width:100%;}

.about_left a:hover {
    background-color: #999;
}

.about_right a:hover {
    background-color: #999;
}

#instafeed img{
	width:31%;
	float:left;
	padding:0px 10px 10px 10px;
}

.wrapperIG{

	width:100%;
	max-width:1024px;
	margin-left:auto;
	margin-right:auto;
}

.IG{
	height:1450px;
	width:100%;
}


.team{
	width:100%;
	height:700px;
}

.person{
	background-color: #f1f1f1;
	height:490px;
	width: 320px;
	margin:20px 10px 0 10px;
	float:left;
}

.face{
	width:45%;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
}

.person h3{
	margin-top:10px;
	letter-spacing: 0;
	text-transform: none;
	color:black;
	margin-bottom: -7px;
}

.social-m{
	width:100%;
	height:70px;
}

.social-m img{
	margin:1.2em;
	width:25px;
	float:left;
	cursor: pointer;
}

.media-wrapper{
	margin-left:auto;
	margin-right:auto;
	width:80%;
}

.person h4{
	margin-top:-18px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color:#999;
	font-size:12px;
}

.text-box{
	width:90%;
	margin-top:2em;
	margin-left:1em;
	height:135px;
}

.person p{
	margin-top:-18px;
	letter-spacing: 0;
	text-transform: none;
	color:#777;
	font-size:12px;
}

.face img{
	width:100%;
}

.team-wrapper{
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	height:700px;
}

.wrapperC{
	width:100%;
	max-width:1024px;
	margin-left:auto;
	margin-right:auto;
	padding-top:30px;
}

.contact h3{
	margin-top:50px;
}

.contact{
	width: 100%;
	max-width: 1024px;
	height:610px;
	margin-left: auto;
	margin-right: auto;
}

.form{
 margin-left: auto;
 margin-right: auto;
 max-width: 1024px;
 height:420px;
}

label{
	margin-top:5px;
	font-family: 'Roboto', sans-serif;
	color: black;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.05em;
	padding: 2em;
	padding-top: 2em;
}

#message{
	font-family: 'Roboto', sans-serif;
	padding:4px;
	letter-spacing: 0.1em;
	margin-left: 2em;
	margin-right: auto;
	width:95%;
	font-size: 13px;
}

#name{
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	padding:4px;
	width: 24%;
	margin-left: 2em;
	letter-spacing: 0.1em;
	text-transform: uppercase;

}

#email{
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	padding:4px;
	width: 24%;
	margin-left: 2em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin:1.2em 0 0em 2em;
}

#website{
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	padding:4px;
	width: 24%;
	margin-left: 2em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.buttonC{
	font-style: 300;
	font-family:'Roboto', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	display:inline-block;
	height:2.1rem;
	line-height: 2.2rem;
	padding: 0 1.5rem;
	color:#707070;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	border:solid;
	position: relative;
	left: -0.85em;
	top:-3.5em;
	float:right;

	transition: all 0.3s ease-in-out;
	 -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
}

footer nav li{
	display:inline-block;
	padding:25px 14px 0 0;
	font-size: 15px;
	position: relative;
	left:1.5em;
}

.content_wrap{
	margin-left:auto;
	margin-right:auto;
	max-width: 1024px;
	width:80%;
}

.lockup{
	margin: 30px 30px;
}

footer{
	width:100%;
  background-color:#2f3034;
	height:130px;
}

.copyright{
	text-transform: uppercase;
	margin:0;
	font-family: 'Roboto', sans-serif;
	font-size:13px;
	color:#666;
	text-align: center;
}
.copyright a{
	text-decoration:none;
	text-transform: uppercase;
	color:#666;
}

.copyright a:hover{
	color:white;
}

.mouse {
	overflow:hidden;
  position:absolute;
  left:50%;
	bottom:2em;
  width:24px;
  margin: -12px;
  height:50px;
  border:2px solid white;
  border-radius:30px;

}

.mouse:after {
  display: block;
  content:"";
  position:absolute;
  left:13px;
  top:10px;
  width:4px;
  height:4px;
  margin-left: -3px;
  background-color:white;
  border-radius:2px;
  animation: mouse-wheel 2.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@keyframes mouse-wheel {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateY(0);
    height: 4px;
  }
  50% {
    transform: translateY(0);
    height: 20px;
  }
  70% {
    transform: translateY(15px);
    height: 4px;
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}
