@charset "utf-8";
body{
	margin:0;
	padding:0;
	background-color:#fefefe;
	font-family: 'Roboto', sans-serif;
	-moz-osx-font-smoothing: grayscale;
}
h1{
	position: relative;
	top:3.5em;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 60px;
	font-weight: 700;
	text-decoration: none;
}
a{
		text-decoration: none;
		color:black;
}
