:root {
  --dark-background: #2c2c2c;
  --font-color: #ffffff;
}

body {
  width: 100%;
  line-height: 1.25;
  font-family: "Roboto", sans-serif;
  background: var(--dark-background);
}

body,
p {
  margin: 0;
  padding: 0;
}

a {
  color: var(--dark-background);
}

h1 {
  font-weight: 900;
  font-size: 1.5em;
  color: var(--font-color);
}

h2 {
  font-weight: 400;
  font-size: 22px;
  color: var(--font-color);
}

svg {
  fill: var(--font-color);
  width: 30px;
  height: 30px;
  padding: 8px;
  cursor: pointer;
  position: relative;
  top: 0;
  transition: -webkit-transform 0.15s ease-in-out;
  transition: top 0.15s ease-in-out;
  transition: top 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}

svg:hover {
  top: -5px;
}

#cobaltpe {
  color: var(--font-color);
}

.wrapper {
  padding-top: 148px;
  margin: 3em auto;
  max-width: 640px;
  width: 640px;
}

.text_wrapper {
  margin-top: 20px;
}

.social_container {
  float: right;
  width: 146px;
  margin-top: -3em;
}
