@charset "UTF-8";
body, input, button{
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #edf0f1;
  padding-top:80px;
}

header{
  width:100%;
  height:80px;
  position:fixed;
  font-weight:400;
  top:0;
  left:0;
  z-index:5;
  padding:15px;
  background-color: #00baff;
  box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
header input {
  width:100%;
  height:50px;
  color:#fff;
  font-size:15px;
  text-indent: 18px;
  padding:0 60px 0 0;
  float:left;background: rgba(255, 255, 255, 0.2);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;

  border:0px;
  box-shadow: none;
  outline:none;
}


header input::-webkit-input-placeholder{
  color:rgba(255, 255, 255, 0.75);
}

header input:-moz-input-placeholder{
  color:rgba(255, 255, 255, 0.75);
}

header input::-moz-input-placeholder{
  color:rgba(255, 255, 255, 0.75);
}

header input:-ms-input-placeholder{
  color:rgba(255, 255, 255, 0.75);
}


header button{
  width:50px;
  height:50px;
  position: absolute;
  top:15px;
  right:15px;
  z-index: 2;
  border-radius: 25px;
  background: #fff;
  border: 0px;
  box-shadow: none;
  outline:none;
  cursor: pointer;


  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
}

header button svg{
  width:16px;
  height:16px;
  position: absolute;
  top:50%;
  left:50%;
  margin:-8px 0 0 -8px;
}

header button svg .fill{
  fill: #00baff;
}

.container{
  width:100%;
  float:left;
  padding:15px;
}
.noFill{
  fill:none;
}

ul.todo{
  width:100%;
  float:left;
}

ul.todo li{
  width:100%;
  min-height:50px;
  float:left;
  font-size: 14px;
  font-weight: 500;
  color:#444;
  line-height: 22px;
  background: #fff;
  position: relative;
  border-radius: 5px;
  box-shadow:  0px 1px 2px rgba(44, 62, 80, 0.10);
  margin-bottom: 10px;
  padding: 14px 100px 14px 14px;
}

ul.todo li:last-of-type{
  margin:0;
}

ul.todo li .buttons{
  width:100px;
  height:50px;
  position: absolute;
  top: 0;
  right:0;

}

ul.todo li .buttons button{
  width:50px;
  height:50px;
  float:left;
  background:none;
  position: relative;
  border:0px;
  box-shadow: none;
  outline:none;
  cursor: pointer;


  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;

}

ul.todo li .buttons button:last-of-type:before{
  content:'';
  width:1px;
  height:30px;
  position: absolute;
  top:10px;
  left:0;
  background: #edf0f1;
}

ul.todo li .buttons button svg{
  width:22px;
  height:22px;
  position: absolute;
  top:50%;
  left:50%;
  margin: -11px 0 0 -11px;
}

ul.todo li .buttons button.complete svg{
  border-radius: 11px;
  border:1.5px solid #46db37;
}

ul.todo li .buttons button.remove svg .fill{
  fill:#c0cecb;
}

ul.todo li .buttons button.remove:hover svg .fill{
  fill:#e85656;
}


ul.todo#completed li .buttons button.complete svg{
  background:#46db37;
  border:0px
}

ul.todo:not(#completed) li .buttons button.complete:hover svg{
  background:rgba(70, 219, 55, 0.75);
}

ul.todo:not(#completed) li .buttons button.complete:hover svg .fill{
  fill:#fff;
}

ul.todo#completed li .buttons button.complete svg .fill{
  fill:#fff;
}

ul.todo li .buttons button.complete svg .fill{
  fill:#46db37;
}


ul.todo li .buttons button svg .fill{
  -webkit-transition:fill 0.2s ease;
  -moz-transition:fill 0.2s ease;
  -ms-transition:fill 0.2s ease;
  -o-transition:fill 0.2s ease;
  transition:fill 0.2s ease;
}

ul.todo#completed:not(:empty){
  position: relative;
  padding:60px 0 0 0 ;
}

ul.todo#completed:not(:empty):before{
  content: '';
  width:150px;
  height:1px;
  background:#d8e5e0;
  position: absolute;
  top:30px;
  left:50%;
  margin: 0 0 0 -75px;
}
