@charset "utf-8";

body{
	min-width: 1200px;
	margin:0;
	padding:0;
	background-color:#fff;
	font-family: Helvetica, 'Roboto', sans-serif;
	-moz-osx-font-smoothing: grayscale;
}

p{
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
.blank{
	width: 100%;
	height:80px;
}

.container{
	max-width: 1024px;
	width:80%;
	margin-left: auto;
	margin-right: auto;
}

h1{
	padding-top:80px;
	text-align: center;
	color:#121212;
	font-weight:300;
	font-size: 72px;
	text-transform:lowercase;
	letter-spacing: 10px;
}

nav{
	width:40%;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size:14px;
	margin: 0 auto 0 auto;
	list-style:none;
	text-align:center;
	text-transform: uppercase;
	padding-top:40px;
}

nav ul{
	text-align: left;
	width: 100%;
	margin: 0 auto 0 auto;
	padding:0;
	-webkit-transition: max-height 0.5s;
	-ms-transition: max-height 0.5s;
	-o-transition: max-height 0.5s;
	-moz-transition: max-height 0.5s;
	transition: max-height 0.5s;
}

nav li{
	display:inline-block;
	padding-right:25px;
}

.site-head nav li:first-child{
	padding-left:100px;
}

nav li a{
	text-decoration:none;
	 color:#666;
}

nav li a:hover{
	color:gray;
}

article{
	padding-top:10px;
 	position: relative;
 	max-width: 750px;
	margin: 0 auto;
}
article:first-child {
	padding-top:50px;
}

header{
	padding-top:60px;
	text-align: center;
}

.article-top{
	display: block;
	margin-bottom: 28px;
}

article h2 {
	font-family: "Open Sans", sans-serif;
	line-height: 1.3em;
	text-transform: none;
	letter-spacing: 0px;
	font-weight: 700;
	font-style: normal;
	margin: 0 0 20px;
}

article h3 {
	line-height: 1.6em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-style:normal;
	font-size: 13px;

}

article h3 svg{
	width:15px;
	position: relative;
	top:4px;

}

article h4 {
	line-height: 1.6em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: normal;
	font-size:13px;
	color:#a8a8a8;
}

article h4 a {
	text-decoration: none;
	line-height: 1.6em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: normal;
	font-size:13px;
	color:#a8a8a8;
}

h4 a:hover, .article-bottom nav li a:hover{
	color:#121212;
}

.article-body{
	position: relative;
}

article img{
	width:100%;
}



article p {
	line-height: 1.7em;
	letter-spacing: 0px;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
}

.article-bottom{
	width:100%;

}

.article-bottom nav {
		width:54%;
		font-family: "Open Sans", sans-serif;
		font-weight: 400;
		font-size:14px;
		margin: 0 auto 0 auto;
		list-style:none;
		text-align:center;
		text-transform: uppercase;
}

.article-bottom nav ul{
	text-align: center;
	width: 100%;
	margin: 0 auto 0 auto;
	padding:0;
	-webkit-transition: max-height 0.5s;
	-ms-transition: max-height 0.5s;
	-o-transition: max-height 0.5s;
	-moz-transition: max-height 0.5s;
	transition: max-height 0.5s;
}

.article-bottom nav li{
	display:inline-block;
	padding-right:25px;
}

.article-bottom nav li:first-child{
	padding-left:28px;
	padding-right:20px;
}

.article-bottom nav li a{
	text-decoration:none;
	 color:#666;
}

.article-bottom svg{
	width:18px;
	position: relative;
	top:8px;
}

.article-bottom li:last-child{
	padding-right:5px;
}

footer{
	width:100%;
	float:left;
	padding:100px 0 80px 0;
	font-size: 16px;
	color: rgba(20,20,20,.6);
	text-align: center;
}
